{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="form-container">
      <h2>Add New Movie</h2>
      <form action="add_movie" method="post" class="movie-form">
        <div class="form-group">
          <label for="title">Movie title</label>
          <input type="text" id="title" name="title" required aria-required="true">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn">Add movie</button>
          <a href="/users/{{user_id}}" class="btn btn-secondary">Back to my movies</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}