{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Users</h1>
  <a href="/add_user" class="add-user-link">Add a new user</a>

  <div class="users-list">
    {% for user in users %}
    <div class="user-item">
      <div class="user">
        <a href="/users/{{user.id}}" class="user-link">{{user.name}}</a>
      </div>
      <div class="delete-user">
        <form action="/users/{{user.id}}" method="post">
          <input type="submit" value="Delete user" class="btn btn-small">
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}